#signup.overlay.hidden
  .signup
    a.closebox(href='javascript:void(0);')
    h2 Sign up with The Spark early!
    p.info
      | We will notify you when
      br
      | The Spark is up and ready to go.
    hr