.footer-container
  ul
    li
      a(href="https://www.facebook.com/TheSparkDotOrg")(target='_blank') facebook
    li
      a(href="https://twitter.com/TheSparkDotOrg")(target='_blank') twitter
    li
      a(href="https://plus.google.com/104517774345755591969/")(target='_blank') google+
    //- li
      a(href="http://www.linkedin.com/groups/Spark-4697672?gid=4697672&amp;goback=%2Ebzo_*1_*1_*1_*1_*1_%2F2787184&amp;trk=rr_group_logo")(target='_blank') LinkedIn
    li
      a(href="http://blog.thespark.org")(target='_blank') blog
    //- li
      a(href="/#/privacy").js-privacy-button privacy policy
    li
      a(href="/#/terms").js-terms-button terms of use
    li
      span.copyright &copy;thespark.org