* {
/* make sure firefox honors the proper box model */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 15px;
  padding: 0;
  font-size: 20px;
}

/* Static header */
.static {
  position: fixed;
  width: 100%;
  margin: 0;
  z-index: 2;
  top: 0;
}

/*
 * Actual Page Structure
 */
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F7F7;
  font-family: Merriweather;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #666;
}

.container {
  width: 682px;
  margin: 0 auto;
  padding: 0;
}

/* Banners */
.banner {
  text-align: center;
  width: 100%;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px 0 #999;
  -moz-box-shadow: 0 0 5px 0 #999;
  -o-box-shadow: 0 0 5px 0 #999;
  box-shadow: 0 0 5px 0 #999;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: lighter;
}

.banner.black {
  background-color: #000;
  color: #fff;
  height: 46px;
  line-height: 46px;
  padding: 0;
  font-size: 14px;
}

.banner.white {
  background-color: #fff;
  color: #666;
}

/*
 * General-purpose Layout Stuff
 */
/* use to space items evenly in a row of x width */
table.width-divider {
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
 * Links
 */
a {
  color: #27AE60;
  text-decoration: none;
/* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}

a:hover,a.selected {
  color: #000;
  text-decoration: none;
}

a.gray {
  color: #B2B2B2;
}

a.gray:hover {
  color: #000;
}

/* links in content text should be like this */
.black a {
  color: #fff;
}

.black a:hover {
  color: #27AE60;
}

.black .signup {
  color: #27AE60;
}

.body-sign-up {
  text-transform: uppercase;
  font-size: 15px;
}

.job a {
  color: #72c26d;
}

/*
 * Voting
 */
a.vote.yes {
  display: block;
  background-image: url(images/issues/vote/yes.png);
  height: 39px;
  width: 37px;
  float: left;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-right: 4px;
  margin-bottom: 5px;
}

a.vote.yes:hover {
  background-position: 0 2px;
}

a.vote.no {
  display: block;
  background-image: url(images/issues/vote/no.png);
  height: 39px;
  width: 37px;
  float: left;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-bottom: 4px;
  margin-right: 5px;
  margin-left: 5px;
}

a.vote.no:hover {
  background-position: 0 2px;
}

.vote.counter {
  font-family: Merriweather, serif;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  background-color: #000;
  padding: 6px 12px;
  display: block;
  float: left;
  margin-bottom: 4px;
  margin-right: 0;
  margin-left: 5px;
}

div.vote {
  float: left;
  margin-top: 16px;
  margin-left: 20px;
}

/*
 * Footer
 */
.footer {
}

#footer-terms-copy {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 11px;
}

#footer-terms-copy span {
  margin: 0 1em;
}

/*
 * Headers
 */
h2,h3,h4,h5,h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.category {
  color: #666;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: block;
  text-transform: uppercase;
}

.actions {
  color: #E74C3C;
  margin-bottom: 10px;
}

/* Fancy Header Thing */
#spark-logo {
  width: 100%;
  height: 194px;
  margin-top: 130px;
}

#logo-bitmap {
  width: 100%;
  height: 158px;
  margin-top: 30px;
  background-image: url(images/logo.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

#logo-vector {
  display: none;
}

/* Vector versions for browsers guaranteed to support it, including iOS Safari */
@media -webkit-min-device-pixel-ratio0 {
  /* this selects only webkit browsers, inclding Mobile Safari on iOS */
  /*
    #logo-bitmap { display: none; }
    #logo-vector { display: block; }
    
    h1#thespark {
        font-family: "Merriweather", "MerriweatherRegular", "Georgia", "Times", serif;
        font-weight: normal;
        font-size: 141px;
        width: 100%;
        text-align: center;
        line-height: 1.15em;
        text-transform: none;
        
      overflow: visible;
      white-space: nowrap;
      margin-top: 30px;
      
        color: #000;
    }
    
    #tagline {
        font-family: "Merriweather", "MerriweatherRegular", "Georgia", "Times", serif;
        font-size: 21px;
        font-weight: normal;
        margin-top: -16px;
        margin-left: 26px;
        
        color: #000;
    }
    */
  

}

#spark-logo a.back {
  text-align: right;
  font-family: HelveticaNeueCondensedBold, HelveticaNeue-CondensedBold, "Helvetica Neue Condensed Bold", HelveticaNeueRomanCondensedBold, HelveticaNeue-Roman-CondensedBold, "Helvetica Neue Roman Condensed Bold", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosCnRegular, Helvetica, Tahoma, Geneva, "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-stretch: condensed;
  text-transform: uppercase;
  color: #666;
  font-size: 12px;
  line-height: 18px;
  margin-top: 18px;
  float: right;
  cursor: pointer;
  clear: left;
}

#spark-logo {
  cursor: pointer;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  margin-top: 19px;
}

/*
 * Page-specific layout
 */
hr.section {
  width: 100%;
  height: 5px;
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

p.blurb {
  font-family: Merriweather, serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #666;
  margin: 20px;
}

p {
  margin-bottom: 20px;
}

#content-home,#content-jobs {
  margin-bottom: 140px;
}

/*
 * Jobs
 */
.get-involved {
  padding-left: 20px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 20px;
}

.get-involved h2 {
  font-family: Merriweather, serif;
  text-transform: none;
}

.get-involved ul {
  display: block;
  margin: 0;
  padding: 0;
}

.get-involved ul li {
  display: block;
  float: left;
  width: 300px;
  font-size: 18px;
  margin-top: 28px;
  margin-right: 20px;
  text-transform: Capitalize;
}

ul {
  margin: 10px 20px 20px 20px
}

li.job {
  text-decoration: none;
}

.job {
  margin: 30px 0;
  border-bottom: 1px solid #ccc;
}

.job h3 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.job-title {
  text-decoration: none !important;
  border: 0;
}

/*
 * Issues
 */
.issue {
  font-size: 14px;
  line-height: 22px;
  margin-top: 40px;
}

.shadow {
  margin-top: 0;
}

.issue-solution ul a {
  text-decoration: underline;
}

.issue.example p a:hover {
  cursor: default;
  color: #666;
}

.issue.example:before {
  content: "* Example post";
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  padding-left: 14px;
  margin: 0;
  margin-bottom: -20px;
}

.blurb {
}

.shadow {
  background: url(images/issue-shadow.png) center top;
  width: 100%;
  height: 30px;
}

.prompt {
  padding: 0 21px;
}

.prompt .question {
  float: left;
  font-size: 20px;
}

.issue-container {
  clear: both;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #eee
}

.issue-issue {
  width: 100%;
  background-color: #FFF;
  padding: 20px;
}

.issue-a-title,.issue-a-title a {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
  color: #000;
  font-weight: 700;
}

.issue-details,.issue-solution-details {
  font-family: Merriweather;
  font-size: 12px;
  font-style: italic;
  color: #B2B2B2;
  margin-bottom: 20px;
}

.issue-c-body {
  margin-top: 12px;
}

.issue-solution-body {
  margin-bottom: 10px;
  margin-top: 12px;
  font-size: 14px;
  line-height: 20px;
}

.issue-image {
  width: 170px;
  height: 170px;
  float: right;
  border: 5px solid #dadada;
  margin-left: 40px;
  margin-bottom: 40px;
  background-image: url(images/issues/video/factory-thumb.png);
  background-position: top left;
  background-repeat: no-repeat;
}

a.issue-video-button {
  display: block;
  width: 160px;
  height: 160px;
  background-image: url(images/issues/video/video-button.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.issue-solution {
  background-color: #F7F7F7;
  padding: 22px;
  font-size: 14px;
  line-height: 22px;
  margin-top: 12px;
  clear: both;
}

.issue-solution h3 {
  color: #666;
  font-size: 20px;
}

.issue-solution ul {
  margin: 0;
  padding: 0;
  padding-left: 16px;
  font-size: 14px;
  line-height: 20px;
}

.issue-solution ul li {
  margin-bottom: 6px;
}

.issue-solution-title {
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
}

img {
  border: 0;
}

.issue-solutions-top,.issue-comments-top {
  width: 13px;
  background-image: url(images/issues/caret.png);
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: -1px;
/* achieves the effect that the caret is part of the outline */
  clear: both;
  height: 14px;
}

.issue-solutions-top {
  margin-left: 24px;
}

.issue-comments-top {
  margin-left: 91px;
}

.issue-solutions,.issue-comments {
  width: 100%;
  border: 1px solid #72c26d;
  margin-top: -1px;
  padding: 15px;
  margin: 0;
}

.issue-comment {
  float: left;
}

.issue-comment-morelink {
  font-size: 12px;
  margin: 0;
  line-height: 10px;
  text-align: right;
  clear: both;
  width: 100%;
}

.user-pic {
  width: 50px;
  height: 50px;
  background-color: #666;
  float: left;
}

.issue-user-comment {
  float: left;
  width: 544px;
  margin-left: 14px;
}

.issue-solutions p,.issue-comments p {
  font-size: 11px;
  line-height: 15px;
  margin: 0;
  padding: 0;
}

.user-name {
  color: #000;
  font-weight: 700;
}

.issue-user-comment-reply {
  float: left;
  margin-right: 10px;
}

.issue-user-comment-like {
  float: left;
  margin-right: 2px;
}

.issue-user-comment-posted {
  font-family: Helvetica, arial, sans-serif;
  font-size: 11px;
  margin-bottom: 0;
}

.issue-comment-divider {
  background-color: #CCC;
  float: left;
  height: 1px;
  width: 608px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.comments-count {
  font-family: Merriweather, MerriweatherRegular, Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}

.participate {
  width: 100%;
  margin-bottom: 0;
  text-transform: uppercase;
}

.participate .counter {
  color: #000;
}

/*
 * Signup/Login Overlay
 */
.overlay .signup {
  margin: 290px auto;
  width: 490px;
  padding: 40px 50px 20px;
  background-color: #666;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(1,1,1,0.8);
  -moz-box-shadow: 0 0 10px 0 rgba(1,1,1,0.8);
  -o-box-shadow: 0 0 10px 0 rgba(1,1,1,0.8);
  box-shadow: 0 0 10px 0 rgba(1,1,1,0.8);
}

.overlay .signup .closebox {
  display: block;
  float: right;
  clear: both;
  width: 36px;
  height: 36px;
  margin-top: -40px;
  margin-right: -50px;
  background-image: url(images/closebox-large.png);
  background-repeat: no-repeat;
}

.overlay .signup h2,.overlay .signup .info {
  font-family: Merriweather, serif;
}

.overlay .signup h2 {
  font-size: 26px;
  line-height: 36px;
  text-transform: none;
  margin-top: 0;
  font-weight: lighter;
}

.overlay .signup .info {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
}

.overlay .signup hr {
  border: none;
  border-top: 1px solid #949494;
}

.overlay form input {
}

.overlay form input[type=email],.overlay form input[type=password] {
  border: none;
  box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.5);
  height: 38px;
  width: 300px;
  border-radius: 20px;
  padding: 0 20px;
  color: #666;
  margin-top: 16px;
}

.overlay form input[type=submit] {
  display: block;
  margin: 0 auto;
  margin-top: 16px;
  padding: 0;
  color: transparent;
  font-size: 14px;
  font-family: Merriweather, serif;
  width: 186px;
  height: 43px;
  border: none;
  background-color: transparent;
  background-image: url(images/signup.png);
  background-position: -2px -42px;
  background-repeat: no-repeat;
}

.overlay form input[type=submit]:hover {
  background-position: -2px 1px;
}

.overlay .signup .switch,.overlay .register .switch {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: lighter;
}

.banner ul {
  padding: 0;
  margin: auto;
  text-align: center;
}

.banner ul img {
  vertical-align: middle;
  height: 20px;
  display: inline-block;
  margin: 0 4px 5px 0;
}

.banner ul a.top {
  font-size: 12px;
  text-align: left;
  color: #999;
  text-decoration: none;
}

.banner ul a.top:hover {
  color: #000;
}

.banner li {
  display: inline-block;
  margin-right: 30px;
}

.banner li.last {
  display: inline-block;
  margin-right: 0;
}

a.button {
  display: inline-block;
  padding: 5px 30px;
  font: bold 16px/30px $helv;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  -moz-border-radius: 15px;
  width: 110px;
  font: bold 14px helvetica, "helvetica neue", arial;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

a.button:hover {
  color: #fff;
}

a.button.green {
  background-image: 0 color-stop(100%,rgba(88,179,82,1.00)));
  background-image: 0 0 rgba(88,179,82,1.00) 100%;
  background-image: linear-gradient(180deg,rgba(150,207,147,1.00) 0 rgba(88,179,82,1.00) 100%;
}

a.button.green:hover {
  background-image: 0 color-stop(100%,rgba(123,195,119,1.00)));
  background-image: 0 0 rgba(123,195,119,1.00) 100%;
  background-image: linear-gradient(180deg,rgba(171,216,168,1.00) 0 rgba(123,195,119,1.00) 100%;
  text-decoration: none;
}